<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watches Dataset</title>
    <link rel="stylesheet" href="../static/icofont/icofont.min.css" />
    <link rel="stylesheet" href="../static/css/Project_violet.css" />
    <script src="../static/js/Homepage.js" defer></script>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oi&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Top bar -->
    <div class="topbar">
      <a href="index.html" class="home-icon" aria-label="Homepage return">
        <i class="icofont-toy-duck"></i>
      </a>
      <div class="wrap">
        <strong> Watches Dataset </strong>
      </div>
    </div>

    <!-- Head -->
    <div class="head">
      <h1 class="title">Watch auction market</h1>
      <p class="muted">
        A manually collected dataset and econometric study of the watch auction
        market (december 2024, august 2025)
      </p>
    </div>

    <!-- Menu -->
    <div class="menu-root">
      <button
        class="menu-trigger"
        aria-haspopup="menu"
        aria-controls="website-menu"
        aria-expanded="false"
        title="Open menu"
      >
        <i class="icofont-retro-music-disk"></i>
      </button>

      <nav id="website-menu" class="menu" role="menu">
        <a role="menuitem" tabindex="-1" href="index.html">Home</a>

        <div class="menu-item has-submenu" role="none">
          <button
            class="submenu-trigger"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="submenu-anticipation"
          >
            Research project ▾
          </button>
          <div id="submenu-anticipation" class="submenu" role="menu">
            <a role="menuitem" tabindex="-1" href="project.html">Results</a>
            <a role="menuitem" tabindex="-1" href="devlog.html">Dev log</a>
          </div>
        </div>

        <a role="menuitem" tabindex="-1" href="watches.html"
          >Watch auction market</a
        >
        <a role="menuitem" tabindex="-1" href="internship.html"
          >Internship infos</a
        >
      </nav>
    </div>

    <!-- Footer -->
    <div class="footer">Elsa Bidant copyright — All rights reserved</div>
  </body>
</html>
